{% extends "_staticLayout.twig" %}

{% block subtitle %}
    <h2>Semestrální práce KIV/WEB</h2>
{% endblock %}

{% block content %}

    <h3>O konferenci</h3>

    <p>WEBKONF je každoročně pořádaná konference nadšenců pro webové technologie. Nyní v roce 2016 se bude konat její 16. ročník. Po dobu její existence
       již bylo přihlášeno a úspěšně prezentováno více, než 300 příspěvků, do kterých bylo zapojeno dohromady více jak 500 autorů.</p>

{% endblock %}
