{% extends "_staticLayout.twig" %}

{% block subtitle %}
    <h2>Semestrální práce KIV/WEB</h2>
{% endblock %}

{% block content %}

    <h3>Termíny a důležitá data</h3>

    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>1.9.2015</td>
                <td style="width:100%;">Otevření registrací</td>
            </tr>
            <tr>
                <td>28.9.2015</td>
                <td>Započetí schvalovacího procesu</td>
            </tr>
            <tr>
                <td>31.12.2015</td>
                <td>Uzavření registrací</td>
            </tr>
            <tr>
                <td>6.1.2016</td>
                <td>Zveřejnění kompletního seznamu příspěvků</td>
            </tr>
            <tr>
                <td>2.2.2016</td>
                <td>WEBKONF 2016 - den konání</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
