{% extends "_staticLayout.twig" %}

{% block subtitle %}
    <h2>Semestrální práce KIV/WEB</h2>
{% endblock %}

{% block content %}

    <h3>Vítejte na portálu WEBKONF!</h3>

    <p>Vítejte na zbrusu novém portálu WEBKONF, který byl vyvinutý v rámci semestrální práce předmětu Webové aplikace (KIV/WEB)</p>

    <p>V levém menu můžete najít odkazy do sekcí obsahujících všechny potřebné informace. V případě nejasností můžete psát e-mail na adresu <a href="mailto:ublm@students.zcu.cz">ublm@students.zcu.cz</a>.</p>

{% endblock %}