{% extends "_staticLayout.twig" %}

{% block subtitle %}
    <h2>Semestrální práce KIV/WEB</h2>
{% endblock %}

{% block content %}

    <h3>Sponzoři</h3>

    <p>Konference WEBKONF by se nemohla uskutečnit ani bez sponzorů, kteří přispěli buď nějakou finanční částkou, předměty pro ocenění nejlepších příspěvků, nebo se účastnili propagace. Za to jim velmi děkujeme</p>

    <p class="sponsorblock">
        <img src="{{base_url}}/img/zculogo.png" class="sponsorlogo" alt="Západočeská univerzita v Plzni" title="Západočeská univerzita v Plzni" />
        <img src="{{base_url}}/img/favlogo.png" class="sponsorlogo" alt="Fakulta aplikovaných věd ZČU" title="Fakulta aplikovaných věd ZČU" />
        <img src="{{base_url}}/img/googlelogo.png" class="sponsorlogo" alt="Google.com" title="Společnost Google" />
        <img src="{{base_url}}/img/mslogo.png" class="sponsorlogo" alt="Microsoft" title="Společnost Microsoft" />
    </p>

{% endblock %}
