{% extends "_staticLayout.twig" %}

{% block subtitle %}
    <h2>Semestrální práce KIV/WEB</h2>
{% endblock %}

{% block content %}

    <h3>Organizátoři</h3>

    <p>Zde se nachází seznam všech, kteří se podílejí na organizaci konference WEBKONF.</p>

    <h5>Ing. Jan Novák, PhD.</h5>
    <p>Hlavní organizátor akce</p>

    <h5>Doc. Ing. Josef Novák, PhD.</h5>
    <p>Organizátor akce</p>

    <h5>Ing. Ivo Nový, PhD.</h5>
    <p>Propagace</p>

    <h5>Ing. Jana Nováková, PhD.</h5>
    <p>Hlavní recenzent</p>

    <h5>Ing. Věra Nováková</h5>
    <p>Zástupce hlavního recenzenta</p>

{% endblock %}
