{% extends "_layout.twig" %}

{% block subtitle %}
    <h2>Nástěnka administrátora</h2>
{% endblock %}

{% block content %}

    <h3>Vítejte!</h3>

    <p>
        V této sekci stránek můžete spravovat příspěvky, uživatele, přidělovat jednotlivé příspěvky k hodnocení, měnit hodnost uživatelů a případně příspěvky i uživatele mazat.
    </p>

    <h3>Menu</h3>

    <ul class="dashboardlist">
        <li>Nástěnka - pomocí tohoto odkazu v menu se vrátíte sem</li>
        <li>Příspěvky - seznam příspěvků, jejich přiřazení k recenzím, mazání příspěvků a recenzí, schvalování/odmítání příspěvků</li>
        <li>Uživatelé - seznam uživatelů, možnost změny jejich hodnosti, popřípadě mazání nebo blokování</li>
    </ul>

{% endblock %}
