{% extends "_layout.twig" %}

{% block subtitle %}
    <h2>Nástěnka autora</h2>
{% endblock %}

{% block content %}

    <h3>Vítejte!</h3>

    <p>
        V této sekci stránek můžete vkládat nové příspěvky, odesílat je ke schválení, prohlížet si již vložené a případně je i mazat.
    </p>

    <h3>Menu</h3>

    <ul class="dashboardlist">
        <li>Nástěnka - pomocí tohoto odkazu v menu se vrátíte sem</li>
        <li>Nový příspěvek - zde vkládáte nový příspěvek do systému, a následně ho můžete odeslat ke schválení</li>
        <li>Moje příspěvky - zde uvidíte seznam Vašich příspěvků, jejich stavu a akce, které s ním můžete provádět (mazání, editace, odeslání ke schválení)</li>
    </ul>

{% endblock %}
