{% extends "_layout.twig" %}

{% block subtitle %}
    <h2>Nástěnka recenzenta</h2>
{% endblock %}

{% block content %}

    <h3>Vítejte!</h3>

    <p>
        V této sekci stránek můžete hodnotit příspěvky, které Vám byly přiřazeny správcem.
    </p>

    <h3>Menu</h3>

    <ul class="dashboardlist">
        <li>Nástěnka - pomocí tohoto odkazu v menu se vrátíte sem</li>
        <li>Příspěvky k recenzi - seznam příspěvků k hodnocení, možnost vložit nové hodnocení nebo editovat stávající</li>
    </ul>

{% endblock %}
